<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home Page</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
	<div class="box-1">
		<h1 align="center">Игра в жизнь</h1>
	<p align="center">Вы задавались вопросом, что жизнь - это самая увлекательная игра, которая длится от момента рождения до самой смерти?
		<br>В любой игре есть свои правила, ресурсы и способы прохождения.
	<br>Это статья не будет описывать основные правила игры в жизнь, а лишь скажет как можно выиграть.
	</p>
	<p align="center"><i>"Чтобы выигрывать, прежде всего нужно играть." - Альберт Эйнштейн</i></p>
	<p align="center"><b>1. Определи, кого ты считаешь своим противником.</b></p>
	<p align="center">Любая игра подразумевает какого-либо противника и вся хитрость состоит в том, чтобы вовремя осознать кто твой противник.
	<br>Противник - это кто мешает тебе развиваться, тратит ваши ресурсы и не даёт добиться успеха.
		<br>Это могут быть родители, друзья, работа, ТЫ.
	</p>
	<p align="center"><i>"Величайший враг спрячется там, где вы будете меньшего всего искать. " - Гай Юлий Цезарь</i></p>
	<p align="center"><b>2. Осознай, что ты сам назначил ему роль ведущего, а себе роль жертвы внутри принятой системы правил.</b></p>
	<p align="center">Вся хитрость вовремя осознать, что ты стал вторым и стать первым. Это даст возможность действовать свободно, а не по правилам системы.</p>
	<p align="center"><i>"Единственный способ стать умнее - играть с более умным противником" - Основа шахмат 1883 год</i></p>
	<p align="center"><b>3. Сформулируй предписания по которым тебе приходиться действовать.</b></p>
	<p align="center">Предписания - это наше Эго. Внутренние установки, которые мы решили, что они самые оптимальные для выигрыша.</p>
	<p align="center"><i>" Войны нельзя избежать, её можно лишь отсрочить к выгоде вашего противника. " - Макиавелли</i></p>
	<p align="center"><b>4. Начни сознательно изменять свои установки и действия.</b></p>
	<p align="center">Измени правила и сам встань в роль ведущего.</p>
	</div>
	</body>
	<script>
		alert("Программирование - это очень круто");
	</script>
</html>